* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --columns-card: 0;
  --rows-card: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 18vw 80.8vw;
}

#pageNav {
  grid-area: nav;
}

#pageMain {
  grid-area: main;
}

.nav {
  background-color: rgb(0, 121, 125);
  color: rgb(145, 240, 230);
  font-weight: 700;
  padding-top: 7px;
}

.nav__div {
  display: block;
  font-size: 1.5rem;
  line-height: 3.4rem;
  padding: 0.7rem 1.8rem;
  margin: 1.5vh 1.1vw 2.2vh 1.1vw;
  border-radius: 0.5vw;
  background-color: rgba(255, 255, 255, 0.35);
}
.nav__div .more-collumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.nav__div .nav-filter {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.6;
}
.nav__div #input-name,
.nav__div #check-totalFriend,
.nav__div #check-minAge,
.nav__div #check-maxAge {
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.3vw;
  padding-left: 0.3rem;
}
.nav__div #check-totalFriend,
.nav__div #check-minAge,
.nav__div #check-maxAge {
  width: 50%;
}
.nav__div label img {
  margin: 0 0.8rem 0 0.8rem;
}
.nav__div .nav-caption {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main {
  background-color: rgb(243, 221, 161);
}

.main__div {
  display: grid;
  grid-template-columns: repeat(var(--columns-card), 1fr);
  grid-template-rows: repeat(var(--rows-card), 1fr);
  padding: 10px;
}
.main__div .div__card {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgb(6, 61, 63);
  border-radius: 0.9rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 1.2vh 0.6vw;
}
.main__div .div__card .card-image {
  float: left;
  padding: 13px;
}
.main__div .div__card .card-image .card-photo {
  border-radius: 6px;
}
.main__div .div__card .card-text {
  padding: 1.5vh 0.1vw;
  font-size: 1.6rem;
  font-weight: 600;
}
.main__div .div__card .card-text p:first-child {
  font-size: 2.5rem;
  opacity: 1;
}
.main__div .div__card .card-text p {
  opacity: 0.5;
}
.main__div .div__card:hover {
  background-color: rgb(244, 227, 190);
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  .wrapper {
    grid-template-columns: 44vw 52.9vw;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .wrapper {
    grid-template-columns: 36vw 61.5vw;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 52%;
  }
  .wrapper {
    grid-template-columns: 28vw 70.1vw;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
  .wrapper {
    grid-template-columns: 20vw 78.7vw;
  }
}
@media (min-width: 1201px) {
  html {
    font-size: 67%;
  }
  .wrapper {
    grid-template-columns: 19vw 80vw;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  html {
    font-size: 53%;
  }
  .wrapper {
    grid-template-columns: 26vw 73vw;
  }
}